body,
html {
  width: 100%;
  height: 100%;
}
*{
	box-sizing: border-box;
}
.container {
	position: relative;
	width: 100vw;
	height: auto;
	padding: 0;
}
img {
	width: 100%;
}
h1 {
	position: absolute;
	font-size: 2.5em;
	left: 17%;
	top: 33%;
}
hr {
	position: absolute;
	left: 48%;
	bottom: 38%;
}
.info {
	position: absolute;
	background-color: #de3b00;
	bottom: 32%;
	left: 43%;
	cursor: pointer;
	border-radius: 19px;
	padding: 1.2em;
	width: 14vw;
	height: 9vh;
}
.info:hover {
	transform: scale(1.1);
	background-color: #de3b00;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.btn-lg {
	margin: auto;
	cursor: pointer;
}
hr {
	width: 3em;
	background-color: orange;
}
@media(max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}
	.info {
		width: 33vw;
	}
}
@media(min-width: 600px) {
	h1 {
		font-size: 1.8em;
	}
	.info {
		width: 28vw;
	}
}
@media(min-width: 768px) {
	h1 {
		font-size: 2.2em;
	}
	.info {
		width: 24vw;
	}
}
@media(min-width: 992px) {
	h1 {
		font-size: 2.4em;
	}
	.info {
		width: 15vw;
	}
}
@media(min-width: 1200px) {
	h1 {
		font-size: 2.5em;
	}
	.info {
		width: 14vw;
		height: 9vh;
	}
}